# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
server/.env

# Build outputs
client/build/
server/dist/

# TypeScript
*.tsbuildinfo

# Dependency directories
client/node_modules/
server/node_modules/

# Editor directories
.vscode/
.idea/

# Misc
*.log
